* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooltip-container {
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.tooltip-container > p {
    font-size: 1.2rem;
}

svg {
    position: absolute;
}

.nav-container {
    width: 300px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-container > p {
    font-size: 1.2rem;
}